In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KDTree
from tqdm import tqdm

In [2]:
articles = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_train/articles.csv')
ls = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_train/life_situations.csv')
news = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_train/news.csv')
services = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_train/services.csv')
ssub = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_sample_submission.csv')
test = pd.read_csv('/home/bakhyt/Documents/datasaur/case1-datasaur/epir_test.csv')

In [3]:
base = list()
base += list(ls[['Unnamed: 0', 'title_main']].values)
base += list(services[['Unnamed: 0', 'full_title']].values)

df = pd.DataFrame(base)
df.columns = ['index', 'text']
df = df.dropna(subset='text')
df = df.loc[df['text'].str.split(' ').apply(lambda x: len(x)) > 1].reset_index(drop=True)

In [4]:
vectorizer = TfidfVectorizer(analyzer='char', ngram_range=(4,4))
X = vectorizer.fit_transform(df['text']).toarray()
tree = KDTree(X, leaf_size=30)

In [7]:
query = vectorizer.transform(['Эмиссия в окружающую среду'])

In [8]:
dist, ind = tree.query(query.toarray(), k=30)

In [ ]:
df.loc[ind[0]]

In [12]:
services.loc[services['Unnamed: 0']==1444]

,Unnamed: 0,id,sys_lang,additional_info,description,full_title,short_title,title,result_description,url
1444,1444,3700,ru,Правила оказания государственной услуги,Информация находится на стадии актуализации. Э...,Выдача разрешений на эмиссии в окружающую сред...,Разрешения на эмиссии в окружающую среду для о...,Разрешения на эмиссии в окружающую среду для о...,"Разрешение, переоформление разрешения на эмисс...",https://beta2.egov.kz/services/3700?lang=ru

In [5]:
ans = list()
for idx,row in tqdm(test.iterrows()):
    
    check = vectorizer.transform([row['question']])
    dist, ind = tree.query(check.toarray(), k=30)  
    
    vv = df.loc[ind[0],'index'].values[0]
    ans.append(vv)
    
ssub['index'] = ans
ssub.to_csv('submission`7.csv', index=False)

124it [00:25,  4.78it/s]

In [6]:
ssub

      id   index
0      1    2049
1      2     392
2      3  203089
3      4      82
4      5     732
..   ...     ...
119  120  204861
120  121  204864
121  122     387
122  123  204875
123  124     388

[124 rows x 2 columns]